{% extends "layout.html" %}
{% block body %}
  <h2>账户设定</h2>
  {% if error %}<p class=error><strong>错误：</strong> {{ error }}{% endif %}
  
  <form role="form" action="{{ url_for('account_setting') }}" method=post>
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
	
	<div class="form-group">
		{{ form.object_type.label }}
		<!--{{ form.object_type(class_='a') }} -->
		
		{% for subfield in form.object_type %}
		<div class="radio">
		  
			{{ subfield }}
			{{ subfield.label }}
		  
		</div>
		{% endfor %}
	</div>
	
	<div class="form-group">
		{{ form.submit(class_='btn btn-default') }}
	</div>
	
  </form>
	
{% endblock %}