{% extends "layout.html" %}
{% block body %}
  
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/stylish-portfolio.css') }}">
  <style>
	body {
		background: url({{ url_for('static', filename='images/pg1_bg1.jpg') }});
	}
  </style>	
  
  {% if error %}<p class=error><strong>错误：</strong> {{ error }}{% endif %}
  
	<div class="col-lg-12 text-center">		  
		<h3>账户设定</h3>
	</div>
	<div align="center"><img src="{{ url_for('static', filename='images/page1_img1.png') }}" alt="" style="width: 100px;"/> </div> 
	
	<div class="login-wrap"> 
	  <form role="form" action="{{ url_for('account_setting') }}" method=post>
		{{ form.csrf_token }}
		{{ form.hidden_tag() }}
		
		<div class="form-group">
			{{ form.weixin.label }}
			{{ form.weixin(placeholder="微信号") }}
		</div>
		<div class="form-group">
			{{ form.zfb.label }}
			{{ form.zfb(placeholder="支付宝账户") }}
		</div>
		<div class="form-group">
			{{ form.yhmc.label }}
			{{ form.yhmc(placeholder="开户行") }}
		</div>
		<div class="form-group">
			{{ form.yhzh.label }}
			{{ form.yhzh(placeholder="银行卡号") }}
		</div>
		
		<div class="form-group">
			{{ form.submit(class_='btn btn-lg btn-login btn-block-lg') }}
		</div>
		
	  </form>
	</div>	
	  
	<script>
		$(document).ready(function(){
			var flag = 0;
			if ('' != $("#weixin").val()) {
              $("#weixin").attr("disabled", "disabled");
			  flag++;
			}
			if ('' != $("#zfb").val()) {
              $("#zfb").attr("disabled", "disabled");
			  flag++;
			}
			if ('' != $("#yhmc").val()) {
              $("#yhmc").attr("disabled", "disabled");
			  flag++;
			}
			if ('' != $("#yhzh").val()) {
              $("#yhzh").attr("disabled", "disabled");
			  flag++;
			}
			  
			if (4 == flag) {
			  $('#submit').attr("disabled", "disabled");
			}
		});
	</script>
{% endblock %}