{% extends "layout.html" %}
{% block body %}
  
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  
  <div class="col-lg-12 text-center">	  
    <h3>金币赠送</h3>
  </div>
  
  <div class="">
	<form id="form_admin_reward" role="form" action="{{ url_for('admin_reward') }}" method=post>
		{{ form.csrf_token }}
		{{ form.hidden_tag() }}
			
		<br />
		{% for subfield in form.object_type %}
		<div class="radio">
		  
			{{ subfield }}
			{{ subfield.label }}
		  
		</div>
		{% endfor %}
			
		<br />
		<div class="form-group">
			<!--{{ form.account.label }}-->
			{{ form.account(placeholder="请填写会员账号") }}
		</div>
		
		<br />
		<div class="form-group">
			<!--{{ form.amount.label }}-->
			{{ form.amount(placeholder="请填写数量")  }}
		</div>
		
		<br />
		<div class="form-group">
			<div style='display:none'>{{ form.submit(class_='btn btn-lg btn-login btn-block-lg') }}</div>
			<a class='btn btn-lg btn-login btn-block-lg' onclick='my_post()'>确认保存</a>
		</div>
	</form>
  </div>


<script type="text/javascript">
  
	function my_post() 
	// http://hayageek.com/jquery-ajax-form-submit/
	{
		console.log('here');
		
		// data checking
		var radio_val=$('input:radio[name="object_type"]:checked').val();
		if (null == radio_val) {
			alert('请选择赠送类型');
			return;
		}
		if ($('#account').val().trim() == '') {
			alert('请填写会员账号');
			return;
		}
		if ($('#amount').val().trim() == '') {
			alert('请填写数量');
			return;
		}
			
		var msg = "您确定要给用户" + $('#account').val() + "赠送数量为" + $('#amount').val() + "的";
		if ('static' == radio_val)
			msg += '金币';
		else if ('dynamic' == radio_val)
			msg += '动态奖金';
		else
			msg += '[unknown赠送类型，请联系管理员]'
		var truthBeTold = window.confirm(msg); 
		if (truthBeTold) { 
			// real stuff: submit form
			$("#submit").click();
		}
	}

</script>
  
{% endblock %}