{% extends "layout.html" %}
{% block body %}
  
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  
	<div class="col-lg-12 text-center">	  
		<h3>交易中订单</h3>
	</div>
  
	<div class="table-responsive" >  
		<table class="table table-striped table-bordered table-hover">
			<caption></caption>
			<thead>
				<tr>
					<th style="font-family: '微软雅黑';font-size: 15px;">提供帮助人</th>
					<th style="font-family: '微软雅黑';font-size: 15px;">接受帮助人</th>
					<th style="font-family: '微软雅黑';font-size: 15px;">金额</th>
					<th style="font-family: '微软雅黑';font-size: 15px;">提供帮助人电话</th>
					<th style="font-family: '微软雅黑';font-size: 15px;">接受帮助人电话</th>
					<th style="font-family: '微软雅黑';font-size: 15px;">状态</th>
					<th style="font-family: '微软雅黑';font-size: 15px;">操作</th>
				</tr>
			</thead>
			<tbody>	
				{% for entry in composite_info_obj %}
				<tr>
				  
				  <td><span class="label label-info">{{ entry[0].p_user }}</span></td>
				  <td><span class="label label-important">{{ entry[0].g_user }}</span></td>
				  <td><span class="label label-important">{{ entry[0].jb }}</span></td>
				  <td><span class="label label-important">{{ entry[1].UE_phone }}</span></td>
				  <td><span class="label label-important">{{ entry[2].UE_phone }}</span></td>
				  <td><span class="label label-important">
					{% if 0 == entry[0].zt %}
						未打款
					{% elif 1 == entry[0].zt %}
						已打款，未确认
					{% else %}
						Unknown zt: {{ entry[0].zt }}
					{% endif %}
				  </span></td>
				  <td>
					<a href='#' onclick='admin_delete_ongoing_order( {{ entry[0].id }} , {{ entry[0].p_id }} , {{ entry[0].g_id }} )'>删除</a>
				  </td>
				</tr>
				{% endfor %}
		  </tbody>
		</table>
	</div>

<script type="text/javascript">
	var admin_delete_ongoing_order = function (ppdd_id, p_id, g_id) {
		$.post(
            {{ url_for('admin_delete_ongoing_order') }},
            { ppdd_id: ppdd_id, p_id: p_id, g_id: g_id },     
            function (jsonObj, textStatus){        
                console.log(jsonObj);   
                location.reload();
            }, 
            "json"
        );
	}
	
	$(document).ready(function(){
		
	});
		
</script>
{% endblock %}