{% extends "layout.html" %}
{% block body %}
  

<a href="{{ url_for('admin_logout') }}">管理员登出</a>
	
<h2>会员管理</h2>	
	<a href="{{ url_for('admin_member_management') }}">所有会员</a>
	<a href="{{ url_for('admin_reward') }}">金币赠送</a>
	<a href="{{ url_for('admin_user_hierarchy_for_all_users') }}">会员关系网</a>
	
	
<h2>激活码/排单币管理</h2>
<a href="{{ url_for('admin_generate_jhma') }}">生成激活码</a>
<a href="{{ url_for('admin_jhma_history') }}">激活码记录</a>
<a href="{{ url_for('admin_generate_pai') }}">生成排单币</a>
<a href="{{ url_for('admin_pai_history') }}">排单币记录</a>

<h2>匹配系统</h2>
<a href="{{ url_for('admin_providing_and_receiving_help', request_type='providing_help') }}">提供帮助</a>
<a href="{{ url_for('admin_providing_and_receiving_help', request_type='receiving_help') }}">接受帮助</a>
<a href="{{ url_for('admin_ongoing_orders') }}">交易中订单</a>
<a href="{{ url_for('admin_successful_orders') }}">成功交易订单</a>
<a href="{{ url_for('admin_late_orders') }}">到期未打款</a>
<a href="{{ url_for('admin_not_confirmed_orders') }}">未确认收款</a>

<a href="{{ url_for('admin_split_providing_help') }}">提供拆分</a>
<a href="{{ url_for('admin_split_receiving_help') }}">接受拆分</a>

{% endblock %}

