{% extends "layout.html" %}
{% block body %}

		
  
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  
 

<div id="user_list">
	
</div>

<script src="{{ url_for('static', filename='js/my_admin.js') }}"></script>
<script>
		
		/////
		
		
		
		$(document).ready(function(){
			
			console.log("here");
			var cur_level = 0;
			var ele_id = 'user_list';
			
			$.ajax({
				type: "POST",
				url: "{{ url_for('admin_all_users') }}",
				data: { data: 'placeholder' },
				//dataType: 'JSONP',
				dataType: "json",
				success: function(resp){
					console.log("here2");
					console.log(resp);
					
					var user_list_div = $('#' + ele_id);
					var user_list_html = handle_response_and_generate_user_list_html(resp, cur_level);
					user_list_div.after(user_list_html);
				}
			});
		  
		});
	</script>
{% endblock %}
\ No newline at end of file