{% extends "layout.html" %}
{% block body %}

		
  
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  

<div id="user_list">
	
</div>

<script>
		var g_indent = '&nbsp;&nbsp;&nbsp;&nbsp;';

		var repeat_string = function (s, cnt) 
		// repeat a para@s para@cnt times
		{
			var i = 0;
			var ret = '';
			if (cnt >= 0) {
				for (; i<cnt; i++) {
					ret += s;
				}
			} else {
				alert("Negative cnt: " + cnt);
			}
			return ret;
		}
		
		var handle_response_and_generate_user_items = function (resp, next_level) {		
			// turn response into json object
			var jsonObj = eval('(' + resp + ')');
			
			var user_list_html = "";
			$.each(jsonObj, function(index, content){ 
				//alert( "item #" + index + " its value is: " + content ); 	
				var cur_user_id = content.substr(0, content.indexOf('['));							
				var new_ele_id = '"level_' + next_level + '_' + cur_user_id + '"';
				user_list_html += ('<div id=' + new_ele_id + 'class="my_ordinary_user" ' + 
										'onclick = my_request_for_user_group_info(' + new_ele_id + ',' + cur_user_id + ')' +
									'>' + 
									 repeat_string(g_indent, next_level) + content + 
									'</div>');
			}); 
			return user_list_html;
		}
		
		var my_request_for_user_group_info = function (ele_id, user_id) 
		// fetch information of users recommended by user_id from server
		{
			console.log('ele_id', ele_id);
			console.log('user_id', user_id);
			var cur_level = parseInt(ele_id[6]); // HARD-CODED!
			var next_level = cur_level + 1;
			
			$.ajax({
					type: "POST",
					url: "{{ url_for('admin_generate_user_group') }}",
					data: JSON.stringify({ 'user_id': user_id }), 
					dataType: "json",
					contentType: 'application/json;charset=UTF-8',
					success: function(resp){
						//console.log(resp);
						
						
						// update web page: display user information
						var user_list_div = $('#' + ele_id);
						var user_list_html = handle_response_and_generate_user_items(resp, next_level);
						user_list_div.after(user_list_html);						
					}
			});
				
			// CAREFUL! The following statement is indispensable: It prevents repeated fetching.
			$('#' + ele_id).attr('onclick', '');
		}
		
		$(document).ready(function(){
			
				
			// request information of all users
			$.ajax({
				type: "POST",
				url: "{{ url_for('admin_all_users') }}",
				data: { data: 'placeholder' },
				//dataType: 'JSONP',
				dataType: "json",
				success: function(resp){
					//console.log(resp);
					
					// update web page: display user information
					var user_list_div = $("#user_list");
					
					var next_level = 0; // 
					var user_list_html = handle_response_and_generate_user_items(resp, next_level);
					user_list_div.html(user_list_html);
					
					console.log("here3");
				}
			});
		});
	</script>
{% endblock %}