{% extends "admin_providing_help_and_receiving_help_common_part.html" %}
{% block specialized_part %}
  
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.idTabs.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/my_admin_providing_receiving_help.js') }}"></script>

	{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  
	<div class="col-lg-12 text-center">	  
		<h3>接受帮助</h3>
	</div>
  
	{% block admin_providing_help_and_receiving_help_body %}{% endblock %}
	
<script src="{{ url_for('static', filename='js/remodal.js') }}" rel="stylesheet"></script>
<script type="text/javascript">
	var my_query_by_account = my_post_and_generate_html_function_generator(
			'{{ url_for("admin_providing_and_receiving_help_query", request_type="receiving_help") }}', 
			function () { return { account: $('#account').val() }; },
			my_generate_html,
			'query_result'
	);
	
	var my_fetch_unmatched = my_post_and_generate_html_function_generator(
		'{{ url_for("admin_providing_and_receiving_help_unmatched_items", request_type="receiving_help") }}', 
		function () { return {}; },
		my_generate_html_with_operation_query_candidates,
		'unmatched_items'
	);
	var my_fetch_matched = my_post_and_generate_html_function_generator(
		'{{ url_for("admin_providing_and_receiving_help_matched_items", request_type="receiving_help") }}', 
		function () { return {}; },
		my_generate_html,
		'matched_items'
	);
	
	var my_trying_to_match = my_trying_to_match_generator(
		'{{ url_for("admin_providing_and_receiving_help_unmatched_items_with_specifi_jb", request_type="receiving_help") }}',
		my_generate_html_with_operation_confirm_generator('receiving_help'),
		'modal2Table'
	);
	var my_confirm_match = my_confirm_match_generator(
		'{{ url_for("admin_providing_and_receiving_help_match_tgbz_and_jsbz") }}',
		"{{ url_for('admin_providing_and_receiving_help', request_type='receiving_help') }}"
	);
	
	$(document).ready(function(){
		//$('#unmatched').click(); <== Uncomment this statement and you will get some weird 'ui logic error'.
		
		$('[data-remodal-id=modal2]').remodal({
			modifier: 'with-red-theme'
		});
		
		my_query_by_account();	// fetch all users on document loading
	});
 </script>
 
{% endblock %}