{% extends "layout.html" %}
{% block body %}

		
  
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  
  <div>
<a id="sign_in" href='#'>  
    wq
</a>  
<div>
<div id="user_list">
	
</div>

<script>
		var my_request_for_user_group_info = function (ele_id, user_id) {
			console.log('ele_id', ele_id);
			console.log('user_id', user_id);
			var cur_level = parseInt(ele_id[6]); // HARD-CODED!
			var next_level = cur_level + 1;
			
			$.ajax({
					type: "POST",
					url: "{{ url_for('admin_generate_user_group') }}",
					data: JSON.stringify({ 'user_id': user_id }), 
					//dataType: 'JSONP',
					dataType: "json",
					contentType: 'application/json;charset=UTF-8',
					success: function(resp){
						console.log("here_xx_2");
						console.log(resp);
						
						var jsonObj = eval('(' + resp + ')');
						var user_list_div = $(ele_id);
						var user_list_html = "";
						$.each(jsonObj, function(index, content){ 
							//alert( "item #" + index + " its value is: " + content ); 
							
							user_list_html += ('<div id=level_' + next_level + '_' + content + ' class="my_ordinary_user">&nbsp;&nbsp;&nbsp;&nbsp;' + content + '</div>');
							
						}); 
						user_list_div.after(user_list_html);
//						$('#' + ele_id).after("&nbsp;<strong class='day_show_tag" + index + "'>0天</strong>");
					}
				});
		}
		
		$(document).ready(function(){
			$("#sign_in").click(function(){
				console.log("here");
				$.ajax({
					type: "POST",
					url: "{{ url_for('admin_all_users') }}",
					data: { data: 'placeholder' },
					//dataType: 'JSONP',
					dataType: "json",
					success: function(resp){
						console.log("here2");
						console.log(resp);
						var jsonObj = eval('(' + resp + ')');
						var user_list_div = $("#user_list");
						var user_list_html = "";
						$.each(jsonObj, function(index, content){ 
							//alert( "item #" + index + " its value is: " + content ); 
							user_list_html += ('<div id=level_1_' + content + ' class="my_ordinary_user">' + content + '</div>');
						}); 
						user_list_div.html(user_list_html);
						
						///
						$('.my_ordinary_user').each(function(index){
							console.log('index', index);
							console.log('id', $(this).attr('id'));
							var ele_id = $(this).attr('id')
							var cur_user_id = ele_id;
							// This only serves as a partial defense, for the full format of cur_user_id should be 'level_/d_/d+'
							console.assert(0 == cur_user_id.indexOf('level_')); 
							cur_user_id = cur_user_id.substr(8);
							$(this).attr('onclick', 'my_request_for_user_group_info(' + ele_id + ',' + cur_user_id + ')');
						 });
						 
						console.log("here3");
					}
				});
		  
			})
		});
	</script>
{% endblock %}