{% extends "layout.html" %}
{% block body %}
  <h2>更改密码</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('change_password_backend') }}" method=post>
    <dl>
      <dt>当前密码:
      <dd><input type=password name=UE_password>
      <dt>新密码:
      <dd><input type=password name=new_UE_password>
	  <dt>再次输入新密码:
      <dd><input type=password name=new_UE_password_again>
	  
      <dd><input type=submit value='更改密码'>
    </dl>
  </form>
{% endblock %}