{% extends "layout.html" %}
{% block body %}
  
	<div class="container">
		<h2>详细信息</h2>
  <div class="alert-info">
  		<br>
		<div class="container">
			<span class="label label-success"><h5>提供帮助人帐号</h5></span>          <span class="label label-info"><h5>{{ p_user.UE_account }}</h5></span><br/>
			<span class="label label-success"><h5>提供帮助人姓名</h5></span>          <span class="label label-info"><h5>{{ p_user.UE_truename }}</h5></span><br/>
			<span class="label label-success"><h5>提供帮助人电话</h5></span>          <span class="label label-info"><h5>{{ p_user.UE_phone }}</h5></span><br/>
			<span class="label label-success"><h5>提供帮助人的推荐人的帐号</h5></span>          <span class="label label-info"><h5>{{ recommendor_of_p_user.UE_account }}</h5></span><br/>
			<span class="label label-success"><h5>提供帮助人的推荐人的姓名</h5></span>          <span class="label label-info"><h5>{{ recommendor_of_p_user.UE_truename }}</h5></span><br/>
			<span class="label label-success"><h5>提供帮助人的推荐人的电话</h5></span>         <span class="label label-info"><h5>{{ recommendor_of_p_user.UE_phone }}</h5></span><br/>
		</div> 
		<br>
</div>
{% endblock %}