{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class=error><strong>错误：</strong> {{ error }}{% endif %}
  
	<link rel="shortcut icon" href="images/icon_128X128.ico" /> 
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" />
	<link href="{{ url_for('static', filename='css/bootstrap.min.css' )}}" rel="stylesheet" media="screen" >
	<link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/mui.min.css' )}}">	
		
	<!-- link href="css/stylish-portfolio.css" rel="stylesheet" -->
	<!-- <script src="http://code.jquery.com/jquery-latest.js"></script> -->
	<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<script src="{{ url_for('static', filename='js/mui.min.js') }}"></script>
	<style>
		html,body {
			background-color: #efeff4;
		}
	</style>
	<script>
		mui.init({
			swipeBack:true //启用右滑关闭功能
		});
	</script>
  
  <div class="">	
		<h3>团队管理</h3>
		<div class="hr-div"> <hr /></div>
		
		<div class="">
   			<div class="col-md-6 alert " style="background-color: #802420;color: white;">激活码数量<div class="badge badge-warning" style="position:absolute;right: 5px">{{ jhma }}</div></div> 
   			<div class="col-md-6 alert" style="background-color: #002A80;color: white;">排单币数量<div class="badge badge-warning" style="position:absolute;right: 5px">{{ pai }}</div></div> 
		</div>
		
		
		<h4>发放记录</h4>
		<div class="hr-div"> <hr /></div>
	  
		<div class="row noti-div " >
		<a href="#jhmff"><button class=" " style="width: 150px;background-color: #802420;color: white;">激活码发放记录<span class="mui-badge mui-badge-warning pull-right">></span></button></a>
		
		<div id="jhmff" class="mui-modal " style="overflow-y:scroll;overflow-y: visible;">
				<header class=" mui-bar-nav " ><br>										
					<a class="mui-icon mui-icon-close   mui-pull-right " href="#jhmff" style="color: white;"></a>
					<div class="alert " style="background-color: #802420;color: white;width: 100%;left:0;text-align: center;font-family: '微软雅黑';font-size: 17;">激活码发放记录</div>
				</header>
		
				<div class="table-responsive" >  
					  	<table class="table table-striped table-bordered table-hover">
						  	<caption></caption>
						  	<thead>
								<tr>
							  		<th style="font-family: '微软雅黑';font-size: 15px;">用户ID</th>
							  		<th style="font-family: '微软雅黑';font-size: 15px;">激活状态</th>
							  		<th style="font-family: '微软雅黑';font-size: 15px;">用户账号</th>
							  		<th style="font-family: '微软雅黑';font-size: 15px;">用户姓名</th>				  		
								</tr>
						  	</thead>
						  	<tbody>	
							{% for entry in jhma_history %}
							<tr>
							  <td><span class="label label-warning">{{ entry.UE_ID }}</span></td>
							  <td>
								<span class="label label-info">{% if 0 == entry.not_help %}
									未激活
								{% else %}
									已激活
								{% endif %}</span>
							  </td>
							  <td><span class="label label-danger">{{ entry.UE_account }}</span></td>
							  <td><span class="label label-success">{{ entry.UE_truename }}</span></td>
							</tr>
							{% endfor %}
						  </tbody>
					</table>
				</div>
				
		</div>
		&nbsp;&nbsp;
		
		<a href="#pdbsy"><button class=" " style="width: 150px;background-color: #002A80;color: white;">排单币使用记录<span class="mui-badge mui-badge-royal pull-right">></span></button></a>

		<div id="pdbsy" class="mui-modal " style="overflow-y:scroll;overflow-y: visible;">
				<header class=" mui-bar-nav " ><br>										
					<a class="mui-icon mui-icon-close   mui-pull-right " href="#pdbsy" style="color: white;"></a>
					<div class="alert alert-danger" style="background-color: #002A80;color: white;width: 100%;left:0;text-align: center;font-family: '微软雅黑';font-size: 17;">排单币使用记录</div>
				</header>
		
				<div class="table-responsive" >  
					  	<table class="table table-striped table-bordered table-hover">
						  	<caption></caption>
						  	<thead>
								<tr>
							  		<th style="font-family: '微软雅黑';font-size: 15px;">金额</th>
							  		<th style="font-family: '微软雅黑';font-size: 15px;">排单币数</th>
							  		<th style="font-family: '微软雅黑';font-size: 15px;">日期</th>
								</tr>
						  	</thead>
						  	<tbody>	
								{% for entry in pai_history %}
								<tr>
								  <td><span class="label label-warning">{{ entry.jb }}</span></td>
								  <td><span class="label label-info">{{ (((entry.jb|float)*1.0/ 1000)|round(0, 'ceil')) |round(0, 'common')|int }}</span></td>
								  <td><span class="label label-important">{{ entry.date }}</span></td>
								</tr>
								{% endfor %}
						  </tbody>
					</table>
				</div>
		</div>		
		</div>
		
		<p></p>	  
  		<a href="#yjtd"><div class="alert " style="background-color: #424242;color: white;">一级团队人数：<span class="badge mui-badge-purple">{{ level_1_group.count() }}</span><span class="badge mui-badge-yellow mui-badge-inverted" style="position:absolute;right: 35px">></span></div></a>

		<div id="yjtd" class="mui-modal " style="overflow-y:scroll;overflow-y: visible;">
				<header class=" mui-bar-nav " ><br>										
					<a class="mui-icon mui-icon-close   mui-pull-right" href="#yjtd" style="color: white;"></a>
					<div class="alert " style="background-color: #424242;width: 100%;left:0;text-align: center;font-family: '微软雅黑';font-size: 17;color: white;">一级团队</div>
				</header>
		
				<div class="table-responsive" >  
					  	<table class="table table-striped table-bordered table-hover">
						  	<caption></caption>
						  	<thead>
								<tr>
							  		<th style="font-family: '微软雅黑';font-size: 15px;">用户ID</th>
							  		<th style="font-family: '微软雅黑';font-size: 15px;">用户姓名</th>
							  		<th style="font-family: '微软雅黑';font-size: 15px;">电话</th>	
							  		<th style="font-family: '微软雅黑';font-size: 15px;">注册时间</th>
							  		<th style="font-family: '微软雅黑';font-size: 15px;">激活状态</th>	
								</tr>
						  	</thead>
						  	<tbody>	
								{% for entry in level_1_group %}
								<tr>
								  <td><span class="label label-warning">{{ entry.UE_ID }}</span></td>
								  <td><span class="label label-info">{{ entry.UE_truename }}</span></td>
								  <td><span class="label label-important">{{ entry.UE_phone }}</span></td>
								  <td><span class="label label-inverse">{{ entry.UE_regTime }}</span></td>
								  <td>
									  <span class="label label-success">
									  {% if 0 == entry.not_help %}
										未激活
									  {% else %}
										已激活
									  {% endif %}</span>
								  </td>
								</tr>
								{% endfor %}	
						  </tbody>
					</table>
				</div>
				
		</div>
  
		<a href="#ejtd"><div class="alert" style="background-color: #008000;color: white;">二级团队人数：<span class="badge mui-badge-purple">{{ level_2_group.count() }}</span><span class="badge mui-badge-yellow mui-badge-inverted" style="position:absolute;right: 35px">></span></div></a>

		<div id="ejtd" class="mui-modal " style="overflow-y:scroll;overflow-y: visible;">
				<header class=" mui-bar-nav " ><br>										
					<a class="mui-icon mui-icon-close  mui-pull-right " href="#ejtd" style="color: white;"></a>
					<div class="alert " style="background-color: #008000;width: 100%;left:0;text-align: center;font-family: '微软雅黑';font-size: 17;color: white;">二级团队</div>
				</header>
		
				<div class="table-responsive" >  
					  	<table class="table table-striped table-bordered table-hover">
						  	<caption></caption>
						  	<thead>
								<tr>
							  		<th style="font-family: '微软雅黑';font-size: 15px;">用户ID</th>
							  		<th style="font-family: '微软雅黑';font-size: 15px;">用户姓名</th>
							  		<th style="font-family: '微软雅黑';font-size: 15px;">电话</th>	
							  		<th style="font-family: '微软雅黑';font-size: 15px;">注册时间</th>
							  		<th style="font-family: '微软雅黑';font-size: 15px;">激活状态</th>	
								</tr>
						  	</thead>
						  	<tbody>	
							{% for entry in level_2_group %}
							<tr>
							  <td><span class="label label-warning">{{ entry.UE_ID }}</span></td>
							  <td><span class="label label-info">{{ entry.UE_truename }}</span></td>
							  <td><span class="label label-important">{{ entry.UE_phone }}</span></td>
							  <td><span class="label label-inverse">{{ entry.UE_regTime }}</span></td>
							  <td>
								  <span class="label label-success">
								  {% if 0 == entry.not_help %}
									未激活
								  {% else %}
									已激活
								  {% endif %}</span>
							  </td>
							</tr>
							{% endfor %}	
						  </tbody>
					</table>
				</div>
				
		</div>
  
		<a href="#sjtd"><div class=" alert" style="background-color: #500A6F;color: white;">三级团队人数：<span class="badge mui-badge-purple">{{ level_3_group.count() }}</span><span class="badge mui-badge-yellow mui-badge-inverted" style="position:absolute;right: 35px">></span></div></a>

		<div id="sjtd" class="mui-modal " style="overflow-y:scroll;overflow-y: visible;">
				<header class=" mui-bar-nav " ><br>										
					<a class="mui-icon mui-icon-close   mui-pull-right " href="#sjtd" style="color: white;"></a>
					<div class="alert alert-success" style="background-color: #500A6F;width: 100%;left:0;text-align: center;font-family: '微软雅黑';font-size: 17;color:white;">三级团队</div>
				</header>
		
				<div class="table-responsive" >  
					  	<table class="table table-striped table-bordered table-hover">
						  	<caption></caption>
						  	<thead>
								<tr>
							  		<th style="font-family: '微软雅黑';font-size: 15px;">用户ID</th>
							  		<th style="font-family: '微软雅黑';font-size: 15px;">用户姓名</th>
							  		<th style="font-family: '微软雅黑';font-size: 15px;">电话</th>	
							  		<th style="font-family: '微软雅黑';font-size: 15px;">注册时间</th>
							  		<th style="font-family: '微软雅黑';font-size: 15px;">激活状态</th>	
								</tr>
						  	</thead>
						  	<tbody>				
							{% for entry in level_3_group %}
							<tr>
							  <td><span class="label label-warning">{{ entry.UE_ID }}</span></td>
							  <td><span class="label label-info">{{ entry.UE_truename }}</span></td>
							  <td><span class="label label-important">{{ entry.UE_phone }}</span></td>
							  <td><span class="label label-inverse">{{ entry.UE_regTime }}</span></td>
							  <td>
								  <span class="label label-success">
								  {% if 0 == entry.not_help %}
									未激活
								  {% else %}
									已激活
								  {% endif %}</span>
							  </td>
							</tr>
							{% endfor %}	
						  </tbody>
					</table>
				</div>
				
		</div>

		
		
		<hr />
		<h4>发送排单币或激活码</h4>
		<form action="{{ url_for('group_management') }}" method="post" role="form">
			{{ form.csrf_token }}
			{{ form.hidden_tag() }}
			
			<div class="alert alert-info">	
				<div class="form-group">
					{{ form.UE_target_account.label(style="font-weight: bolder;font-size: large;") }}
					{{ form.UE_target_account(placeholder='请输入用户名') }}
				</div>
			</div>
			
        	<div class="form-group">
                    <div class="panel panel-success">
					
                        <div for="feedback" class="panel-heading" style="font-weight: bolder;font-size: large;">
							{{ form.object_type.label }}
                    	</div>		
                    	<div class="panel-body">
							{% for subfield in form.object_type %}
							<div class="radio">
							  
								{{ subfield }}
								{{ subfield.label }}
							  
							</div>
							{% endfor %}
							
                    	</div>
                	</div>	                    
                </div>
          	  
 			<div class="alert alert-warning">	
				<div class="form-group">
					{{ form.amount.label(style="font-weight: bolder;font-size: large;") }}
					{{ form.amount(placeholder='请输入发送数量') }}
				</div>
			</div>
			
        	<div class="form-group">          
				{{ form.submit(class_='btn btn-primary') }}
            </div>
    	
		</form>
	</div>
{% endblock %}