{% extends "layout.html" %}
{% block body %}
  <h2>团队管理</h2>
  {% if error %}<p class=error><strong>错误：</strong> {{ error }}{% endif %}
  
  <h3>激活码数量：{{ jhma }}</h3>
  <h3>排单币数量：{{ pai }}</h3>
  <h3>发放记录</h3>
  <h4>激活码发放记录</h4>
  {% if 0 < jhma_history.count() %}
  <table class="table table-striped">
	  <caption></caption>
	  <thead>
		<tr>
		  <th>用户ID</th>
		  <th>激活状态</th>
		  <th>用户账号</th>
		  <th>用户姓名</th>
		</tr>
	  </thead>
	  <tbody>
		{% for entry in jhma_history %}
		<tr>
		  <td>{{ entry.UE_ID }}</td>
		  <td>
			{% if 0 == entry.not_help %}
				未激活
			{% else %}
				已激活
			{% endif %}
		  </td>
		  <td>{{ entry.UE_account }}</td>
		  <td>{{ entry.UE_truename }}</td>
		</tr>
		{% endfor %}
	  </tbody>
	</table>
  {% else %}
    <em>目前尚无“激活码发放记录”类型的记录</em>
  {% endif %}
  
  <h4>排单币使用记录</h4>
  {% if 0 < pai_history.count() %}
  <table class="table table-striped">
	  <caption></caption>
	  <thead>
		<tr>
		  <th>金额</th>
		  <th>排单币数</th>
		  <th>日期</th>
		</tr>
	  </thead>
	  <tbody>
		{% for entry in pai_history %}
		<tr>
		  <td>{{ entry.jb }}</td>
		  <td>{{ ((entry.jb|round(0, 'common')) / 1000) |round(0, 'common')|int }}</td>
		  <td>{{ entry.date }}</td>
		</tr>
		{% endfor %}
	  </tbody>
	</table>
  {% else %}
    <em>目前尚无“排单币使用记录”类型的记录</em>
  {% endif %}
  
  <h4>一级团队人数：{{ level_1_group.count() }}</h4>
  {% if 0 < level_1_group.count() %}
  <table class="table table-striped">
	  <caption></caption>
	  <thead>
		<tr>
		  <th>用户ID</th>
		  <th>用户姓名</th>
		  <th>电话</th>
		  <th>注册时间</th>
		  <th>激活状态</th>
		</tr>
	  </thead>
	  <tbody>
		{% for entry in level_1_group %}
		<tr>
		  <td>{{ entry.UE_ID }}</td>
		  <td>{{ entry.UE_truename }}</td>
		  <td>{{ entry.UE_phone }}</td>
		  <td>{{ entry.UE_regTime }}</td>
		  <td>
			{% if 0 == entry.not_help %}
				未激活
			{% else %}
				已激活
			{% endif %}
		  </td>
		</tr>
		{% endfor %}
	  </tbody>
	</table>
  {% else %}
    <em>目前尚无“一级团队”类型的记录</em>
  {% endif %}
  
  <h4>二级团队人数：{{ level_2_group.count() }}</h4>
  {% if 0 < level_2_group.count() %}
  <table class="table table-striped">
	  <caption></caption>
	  <thead>
		<tr>
		  <th>用户ID</th>
		  <th>用户姓名</th>
		  <th>电话</th>
		  <th>注册时间</th>
		  <th>激活状态</th>
		</tr>
	  </thead>
	  <tbody>
		{% for entry in level_2_group %}
		<tr>
		  <td>{{ entry.UE_ID }}</td>
		  <td>{{ entry.UE_truename }}</td>
		  <td>{{ entry.UE_phone }}</td>
		  <td>{{ entry.UE_regTime }}</td>
		  <td>
			{% if 0 == entry.not_help %}
				未激活
			{% else %}
				已激活
			{% endif %}
		  </td>
		</tr>
		{% endfor %}
	  </tbody>
	</table>
  {% else %}
    <em>目前尚无“二级团队”类型的记录</em>
  {% endif %}
  
  <h4>三级团队人数：{{ level_3_group.count() }}</h4>
  {% if 0 < level_3_group.count() %}
  <table class="table table-striped">
	  <caption></caption>
	  <thead>
		<tr>
		  <th>用户ID</th>
		  <th>用户姓名</th>
		  <th>电话</th>
		  <th>注册时间</th>
		  <th>激活状态</th>
		</tr>
	  </thead>
	  <tbody>
		{% for entry in level_3_group %}
		<tr>
		  <td>{{ entry.UE_ID }}</td>
		  <td>{{ entry.UE_truename }}</td>
		  <td>{{ entry.UE_phone }}</td>
		  <td>{{ entry.UE_regTime }}</td>
		  <td>
			{% if 0 == entry.not_help %}
				未激活
			{% else %}
				已激活
			{% endif %}
		  </td>
		</tr>
		{% endfor %}
	  </tbody>
	</table>
  {% else %}
    <em>目前尚无“三级团队”类型的记录</em>
  {% endif %}
  
  
  <h3>发送排单币或激活码</h3>
  <form role="form" action="{{ url_for('group_management') }}" method=post>
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
	
	<div class="form-group">
		{{ form.UE_target_account.label }}
		{{ form.UE_target_account }}
	</div>
	
	<div class="form-group">
		{{ form.object_type.label }}
		
		{% for subfield in form.object_type %}
		<div class="radio">
		  
			{{ subfield }}
			{{ subfield.label }}
		  
		</div>
		{% endfor %}
	</div>
	
	<div class="form-group">
		{{ form.amount.label }}
		{{ form.amount }}
	</div>
		
	<div class="form-group">
		{{ form.submit(class_='btn btn-default') }}
	</div>
	
  </form>
	
{% endblock %}