{% extends "layout.html" %}
{% block body %}
  <h2>正投资</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  
  <form action="{{ url_for('investment') }}" method=post class=add-entry>
    {{ form.hidden_tag() }}
    <dl>
      <dt>{{ form.time_span.label }}:
      <dd>{{ form.time_span }}
      <dt>{{ form.charge.label }}:
      <dd>{{ form.charge }}
      <dt>{{ form.investment.label }}:
      <dd>{{ form.investment }}
      <dd>{{ form.submit }}
    </dl>
  </form>
	
{% endblock %}