{% extends "layout.html" %}
{% block body %}
  <h2>得到帮助</h2>
  {% if error %}<p class=error><strong>错误：</strong> {{ error }}{% endif %}
  
  <form role="form" action="{{ url_for('receive_help') }}" method=post>
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
	
	<div class="form-group">
		{{ form.purse_type.label }}
		<!--{{ form.purse_type(class_='a') }} -->
		
		{% for subfield in form.purse_type %}
		<div class="radio">
		  
			{{ subfield }}
			{{ subfield.label }}
		  
		</div>
		{% endfor %}
	</div>
	
	
	<div class="form-group">
		{{ form.amount.label }}
		{{ form.amount }}
	</div>
	
	<div class="form-group">
		<p>本人正式申明：我已完全了解所有投资可能的风险。我决定参与聚方圆平台,愿意对自己认可的聚方圆正投资，并愿意为项目的市场营销推广贡献力量。</p>
	</div>
	
	<div class="form-group">
		{{ form.submit(class_='btn btn-default') }}
	</div>
	
  </form>
	
{% endblock %}